<!DOCTYPE html>

<html>

<head>
	<title>Find Games - Hoopers</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/qHyjd86.png">

	<!-- jQuery -->
 	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin="" />

	<!-- JS -->
	<script src='/js/bootstrap.min.js'></script>
	<script src='/js/home.js'></script>

</head>

<body>
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
		integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
		crossorigin="">
	</script>

	<!-- header -->
	<nav class="navbar fixed-top navbar-expand navbar-light" style="background-color:#e8e8e8">
		<div class="navbar-collapse collapse" id="headerText">
			<span class="navbar-brand">
				Games Near You
			</span>
		</div>
	</nav>

	<!-- nav bar bottom -->
	<nav class="navbar fixed-bottom navbar-expand navbar-light" style="background-color:#e8e8e8">
		<div class="container">
			<div class="navbar-collapse collapse" id="homeNav">
				<ul class="navbar-nav nav-fill w-100">
					<li class="nav-item text-center">
						<a class="nav-link active" href="/home">
							<div><i class="fas fa-map-marker-alt"></i></div>
						</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/savedgames">
							<div><i class="fas fa-basketball-ball"></i></div>
						</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/favgames">
							<div><i class="fas fa-heart"></i></div>
						</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/mystats">
							<div><i class="far fa-chart-bar"></i></div>
						</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/account">
							<div><i class="fas fa-user-circle"></i></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<!-- game listings -->
	<div class="container-fluid gamelist">
		{{#each games}}
		<div class="game">
			<div class="row">
				<div class="col-8">
					<h3 class="gamename">{{name}}</h3>
				</div>
					<div class="form-check">
					<input class="button" type="checkbox" value="" id="{{id}}">
					</label>
					</div>
				<div class="col-4">
					<h5 class="distance">{{distance}}mi</h5>
				</div>
			</div>
			<h5>{{time}} &emsp; {{date}}</h5>
			<h5>{{skill}} &emsp; {{players}}</h5>
			<div id="{{mapID}}">
			</div>
		</div>
		{{/each}}
	</div>

	<script>
		// initialize the map
		var map1 = L.map('mapArea1').setView([32.881114, -117.237478], 13);
		var map2 = L.map('mapArea2').setView([32.881114, -117.237478], 13);
		var map3 = L.map('mapArea3').setView([32.881114, -117.237478], 13);

		var layer1 = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
			subdomains: 'abcd',
			maxZoom: 19
		}).addTo(map1)

		var marker1 = L.marker([32.885224, -117.239231]).addTo(map1);
		marker1.bindPopup("<b>RIMAC</b>");


		var layer2 = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
			subdomains: 'abcd',
			maxZoom: 19
		}).addTo(map2)

		var marker2 = L.marker([32.885224, -117.239231]).addTo(map2);
		marker2.bindPopup("<b>RIMAC</b>");
		
		
		var layer3 = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
			subdomains: 'abcd',
			maxZoom: 19
		}).addTo(map3)

		var marker3 = L.marker([32.885224, -117.239231]).addTo(map3);
		marker3.bindPopup("<b>RIMAC</b>");
	</script>

	<!--JS Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>

</html>