<!DOCTYPE html>

<html>

<head>
	<title>Stats - Hoopers</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

	<!-- jQuery -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="/css/mystats.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<!-- JS -->

	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>

<body>

	<!-- header-->
	<nav class="navbar fixed-top navbar-expand navbar-light header" style="background-color:#e8e8e8">
		<div class="navbar-collapse collapse" id="headerText">
			<span class="navbar-brand">
				My Game Statistics
			</span>
			<ul class="nav navbar-nav ml-auto">
				<li><a class="nav-link" href="/addstats"><i class="fas fa-plus"></i></a>
				</li>
			</ul>
		</div>
	</nav>

	<!--navbar-->
	<div class="container-fluid">
		<nav class="navbar fixed-bottom navbar-expand navbar-light footer" style="background-color:#e8e8e8">
			<div class="navbar-collapse collapse justify-content-center" id="homeNav">
				<ul class="navbar-nav">
					<li class="nav-item text-center">
						<a class="nav-link" href="."><i class="fas fa-map-marker-alt"></i> Find</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/savedgames"><i class="fas fa-list-ul"></i> Games</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link active" href="/mystats"><i class="far fa-chart-bar"></i> Stats</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/friends"><i class="fas fa-user-friends"></i> Friends</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="/account"><i class="far fa-user-circle"></i> Account</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<!--overall stats-->
	<div class="container allstats">
		<table class="allstatstable" id="dottedtable">
			<thead>
				<tr>
					<th>
						<h5>Summary</h5>
					</th>
					<th>G</th>
					<th>PTS</th>
					<th>TRB</th>
					<th>AST</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<h5>Feb 2019</h5>
					</td>
					<td>39</td>
					<td>29.3</td>
					<td>5.1</td>
					<td>5.4</td>
				</tr>
				<tr>
					<td>
						<h5>Career</h5>
					</td>
					<td>400</td>
					<td>23.6</td>
					<td>4.5</td>
					<td>6.7</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br><br><br>
	<!--per game stats-->
	<div class="container pergame">
		<h3>Per Game</h3>
		<table class="pergametable" id="linedtable">
			<thead>
				<tr>
					<th>Date</th>
					<th>W/L</th>
					<th>G</th>
					<th>PTS</th>
					<th>TRB</th>
					<th>AST</th>
				</tr>
			</thead>
			<tbody>

				{{#each stats}}
				<tr>
					<td style="font-weight: bolder;">{{date}}</td>
					<td>{{result}}</td>
					<td>{{goals}}</td>
					<td>{{points}}</td>
					<td>{{trebounds}}</td>
					<td>{{assists}}</td>
				</tr>
				{{/each}}
				<!--<tr>
					<td style="font-weight: bolder;">2/13/19</td>
					<td>W</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">2/07</td>
					<td>L</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">2/04</td>
					<td>W</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">1/26</td>
					<td>L</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">1/15</td>
					<td>W</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">1/12</td>
					<td>L</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td style="font-weight: bolder;">1/02</td>
					<td>W</td>
					<td>5</td>
					<td>8</td>
					<td>2</td>
					<td>4</td>
				</tr>-->
			</tbody>

		</table>
	</div>

	<!--JS Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>

</html>